.list-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.list-header__title {
    font-size: clamp(1.2rem ,5vw - 1rem, 2rem);
}
.list-header .button-container {
    display: flex;
    align-items: center;
}
.create-btn {
    border: 1.5px solid rgb(108, 115, 148);
    color: rgb(108, 115, 148);
}
.create-btn:hover {
    background: rgb(108, 115, 148);
    color: whitesmoke;
}
.create-btn:active {
    background: rgba(82, 87, 115, 0.775)
}
.signout-btn:hover {
    border-color: tomato;
}